RESEND_API_KEY=requeriere_key_valida


# Debe coincidir con el email de la cuenta de Resend mientras se use el dominio sandbox (onboarding@resend.dev)
CONTACT_TO_EMAIL=correo_valido

SUPABASE_BD_PASSWORD=requerida_contraseña_valida
#NEXT_PUBLIC_SUPABASE_URL=url_supabase_valida
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ZlTYPtkwaDda7S1iYHTNfA_OvGKDSU1

NEXT_PUBLIC_SUPABASE_URL=https://benxpdtvepdyoltawtzg.supabase.co
#NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ZlTYPtkwaDda7S1iYHTNfA_OvGKDSU1